{% ckan_extends %}

{% block primary_content_inner %}
<div class="module-content">

  <p class="pull-right">
    {{ h.nav_link(_('Back to job list'), named_route='harvester.job_list', source=harvest_source.name, class_='btn btn--tertiary', icon='arrow-left')}}
  </p>

  <h2>{{ _('Job Report') }}</h2>
  {% snippet 'snippets/dge_harvest_job_details.html', job=job %}

  {% if job.status == 'Finished' %}
    {% snippet 'snippets/federation_report_block.html', job=job, harvest_source=harvest_source %}
  {% endif %}
{% endblock %}
