{% import 'macros/form.html' as form %}


{%- if entity_type == 'dataset' %}
    {%- set controller = 'package' -%}
    {%- set module_placeholder = '<dataset>' -%}
{%- elif entity_type == 'organization' %}
    {%- set controller = 'organization' -%}
    {%- set module_placeholder = '<organization>' -%}
{%- elif entity_type == 'group' -%}
    {%- set controller = 'group' -%}
    {%- set module_placeholder = '<group>' -%}
{%- endif -%}


{%- set prefix = h.url_for('package.dataset_read', id='') -%}
{%- set domain = h.url_for('package.dataset_read', id='',
    qualified=true) -%}
{%- set domain = domain|replace("http://", "")|replace("https://", "") -%}

{%- if data[field.field_name] %}
    {%- if errors -%}
        {%- set publisher = data['publisher'] -%}
        {%- set dir3 = h.get_dir3(publisher) -%}
        {%- set value = data[field.field_name] -%}
        {%- set prefix = prefix + (dir3 if dir3 else '') + "-" -%}
        {%- set domain = domain + (dir3 if dir3 else '') + "-" -%}
    {%- else -%}
        {%- set dir3 = data[field.field_name].split("-",1)[0] -%}
        {%- set value = data[field.field_name].split("-",1)[1] -%}
        {%- set prefix = prefix + dir3 + "-" -%}
        {%- set domain = domain + dir3 + "-" -%}
    {%- endif -%}
{%- else %}
    {%- set value = data[field.field_name] -%}
{%- endif -%}

{%- set attrs = {
    'data-module': 'dge-slug-preview-slug',
    'data-module-prefix': domain,
    'data-module-placeholder': module_placeholder,
    'data-module-helpertext': ' URL en datos.gob.es. Se recomienda no editar.' } -%}

    {% set popover %}{% snippet 'scheming/form_snippets/dge_help_popover.html', field=field %}{% endset %}
{% set full_label = h.scheming_language_text(field.label) ~ popover %}

{%- call form.prepend(
    field.field_name,
    id='field-' + field.field_name,
    label=full_label,
    prepend=prefix,
    placeholder=h.scheming_language_text(field.form_placeholder),
    value=value,
    error=errors[field.field_name],
    attrs=attrs,
    is_required=h.scheming_field_required(field)
    ) -%}
{%- endcall -%}

