{% import 'macros/form.html' as form %}

{# Choices originales del preset #}
{%- set choices = [] -%}
{%- for c in h.dge_get_nti_field_choices('theme') -%}
  {%- do choices.append((c.value, h.scheming_language_text(c.label))) -%}
{%- endfor -%}

{# Valores seleccionados originales del preset #}
{%- set selected_choices = [] -%}
{%- if h.dge_is_list_of_items_field_value(data[field.field_name]) -%}
  {%- for v in data[field.field_name] -%}
    {%- if h.dge_is_datosgobes_theme_uri(v) -%}
      {%- do selected_choices.append(v) -%}
    {%- endif -%}
  {%- endfor -%}
{%- else -%}
  {%- if h.dge_is_datosgobes_theme_uri(data[field.field_name]) -%}
    {%- do selected_choices.append(data[field.field_name]) -%}
  {%- endif -%}
{%- endif -%}

<div class="control-group {% if errors[field.field_name] %}error{% endif %}">
  <label class="control-label" for="field-{{ field.field_name }}">
    {{ h.scheming_language_text(field.label) }}
    {% if h.scheming_field_required(field) %} *{% endif %}
    {%- snippet 'scheming/form_snippets/dge_help_popover.html', field=field -%}
  </label>

  <div class="controls">
    <select multiple
        size="{{ ([field.get('select_size', 1), choices|length]|sort)[0] }}"
        id="field-{{ field.field_name }}"
        name="{{ field.field_name }}"
        {{ form.attributes(dict(
          {"class": "form-control"}, **field.get('form_select_attrs', {}))) }}>

      {%- for val, label in choices -%}
        <option id="field-{{ field.field_name }}-{{ val }}"
                value="{{ val }}"
                {% if val in selected_choices %}selected{% endif %}>
          {{ label }}
        </option>
      {%- endfor -%}
    </select>

    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
  </div>
</div>