{% import 'macros/form.html' as form %}

<style>
  fieldset.checkboxes label {
    font-weight: normal;
    display: block;
  }

  fieldset.checkboxes label:after {
    content: none;
  }

  fieldset.checkboxes label input {
    width: auto;
    top: 0;
  }
</style>

{%- call form.input_block(
label=h.scheming_language_text(field.label),
classes=field.classes if 'classes' in field else ['control-medium'],
error=errors[field.field_name],
is_required=h.scheming_field_required(field)) -%}
{%- set choices = h.dge_get_nti_field_choices('language') -%}

<fieldset class="checkboxes">
  {%- for choice in choices -%}
  <label for="field-{{ field.field_name }}-{{ choice.value }}">
    <input id="field-{{ field.field_name }}-{{ choice.value }}" type="checkbox"
      name="{{ field.field_name }}" value="{{ choice.value }}" {{"checked " if choice.value in data[field.field_name] }} />
                {{ h.scheming_language_text(choice.label) }}
            </label>
        {%- endfor -%}
    </fieldset>
    {%- snippet 'scheming/form_snippets/help_text.html', field=field -%}
{%- endcall -%}