{% set creator_name_translated = 'creator_name_translated' %}
{% set creator_identifier = 'creator_identifier' %}
{% set creator_type = 'creator_type' %}
{% set subfields = h.dge_field_display_subfields(field.field_name, schema.dataset_fields) %}
{% set creators = data[field.field_name] %}
{% for creator in creators %}
   
   {% set display_name = '' %}
   {% set display_identifier = '' %}
   {% set display_type = '' %}
   {% set display_language = '' %}
   {% if creator.creator_organization_id %}
      {% set organization = h.dge_get_organization(creator.creator_organization_id) %}
      {% set display_name = organization.title or '' %}
      {% set extras = organization.extras or [] %}
      {% set display_identifier = (extras | selectattr('key', 'equalto', 'C_ID_UD_ORGANICA') | map(attribute='value') | list | first) or '' %}
    {% else %}
      {% if creator.creator_name_translated %}
        {% set language, value = h.dge_dataset_field_value(creator.creator_name_translated) %}
        {% set display_language = language %}
        {% set display_name = value %}
      {% endif %}
      {% set display_identifier = creator.creator_identifier or '' %}
      {% set display_type = creator.creator_type or '' %}
    {% endif %}

   <div class="contact_point container-cols container-cols-3 bt-nth2">
   {% if (display_name) %}
      <ul>
         <li>
            {{ h.scheming_language_text(subfields[creator_name_translated].label) }}
         </li>
         {% if (display_language) %}
            <li><span lang='{{display_language}}' xml:lang='{{display_language}}'>{{ h.render_markdown(display_name) }}</span></li>
         {% elif display_name %}
            <li>{{ h.render_markdown(display_name) }}</li>
         {% endif %}
      </ul>
   {% endif %}
   {% if display_identifier %}
      <ul>
         <li>
            {{ h.scheming_language_text(subfields[creator_identifier].label) }}
         </li>
         <li>
            {{ display_identifier }}
          </li>
      </ul>
   {% endif %}
   {% if display_type %}
      <ul>
         <li>
            {{ h.scheming_language_text(subfields[creator_type].label) }}
         </li>
         <li>
            <a href="{{ display_type }}" target="_blank">{{ display_type }}</a>
         </li>
      </ul>
   {% endif %}
   </div>
{% endfor %}
