{%- set values = data[field.field_name] -%}
{%- set labels = [] -%}

{%- if is_dcatapes -%}
  <ul>
  {%- for language in values -%}
    {% set language_label = h.dge_get_nti_field_uri_label('language', language) %}
    {%- if language_label -%}
      <li><a href="{{ language }}" target="_blank">{{ h.scheming_language_text(language_label) }}</a></li>
    {%- else -%}
      {% set language_label, xml_lang = h.dge_get_vocabularies_uri_label(language) %}
      <li>
        {%- if xml_lang -%}
          <span lang='{{xml_lang}}' xml:lang='{{xml_lang}}'>
        {%- endif -%}
        <a href="{{ language }}" target="_blank">{{ language_label }}</a>
        {%- if xml_lang -%}
          </span>
        {%- endif -%}
      </li>
    {%- endif -%}
  {%- endfor -%}
  </ul>
{%- else -%}
  {%- for choice in h.dge_get_nti_field_choices('language') -%}
    {%- if choice.value in values -%}
      {%- do labels.append(h.scheming_language_text(choice.label)) -%}
    {%- endif -%}
  {%- endfor -%}
  {%- if labels|length == 1 -%}
    {{ _(labels[0]) }}
  {%- else -%}
      <ul>
        {%- for label in labels -%}
        <li>{{ label }}</li>
        {%- endfor -%}
      </ul>
  {%- endif -%}
{%- endif -%}