<div class="form-img-header">
  <div class="intro-text">
      <p>
      {{ _("If you wish to submit open datasets or services to the National Catalogue and the European Data Portal, please use the following form.") }}
    </p>
    <p>
      {{ _("This manual cataloging process for datasets and services collects the minimum required metadata. To provide more detailed information, you will need to use the automatic federation process.") }}
    </p>
  </div>
  <img
    class="pull-right header-img"
    src="/images/PNG/illustration-section.png"
    alt="{{ _('Create Datasource') }}"
  />
</div>

<div class="section-links flex-justify-start">
  <div class="section-links__item" style="max-width: 300px">
    <a
      title=""
      target="_blank"
      href="https://datos.gob.es/sites/default/files/documentacion/files/datosgob_manual_organismo.pdf"
      ><img src="/images/SVG/book.svg" alt="" />{{ _("Guide for organizations")
      }}</a
    >
  </div>
  <div class="section-links__item" style="max-width: 400px">
    <a
      title=""
      target="_blank"
      href="https://datosgobes.github.io/DCAT-AP-ES/"
      ><img src="/images/SVG/book.svg" alt="" />{{ _("Technical guide on DCAT-AP-ES") }}</a
    >
  </div>
</div>
