{% import 'macros/form.html' as form %}

{% set data = data or {} %}
{% set errors = errors or {} %}
{% set ns = namespace(new_distribution=true) %}
{% if other_resources|length > 0 %}
  {% set ns.new_distribution = false %} {% endif %} {# Flag for know if the dataset has resources #}


{% set action = form_action or h.url_for('package.new_resource' if dataset_type=='dataset' else dataset_type ~ '_resource.new', id=pkg_name) %}

{% block stages %}
    {# An empty stages variable will not show the stages #}
    {% if stage %}
      {{ h.snippet('package/snippets/stages.html', stages=stage, pkg_name=pkg_name) }}
    {% endif %}
  {% endblock %}

<div id="resource-form" class="grey-container dge-dataset-detail">

    {% block other_resources %}
      {% if data.id %} {# Not print Others resources select in edit form #} {% else %}
      {% if other_resources|length > 0 %}
        <h2>{{ _('Distributions Assigned to the Dataset') }}</h2>
        <div class="select-distribution-container">
          <h4 class="select-dist-title">{{ _('Distribution') }}</h4>
            <form id="select-distribution-form" method="get" action="">
              <select id="other_resources">
                <option value="">{{ _('Select') }}...</option>
                {% for res in other_resources %}
                  {% set ns = namespace(selected=true) %}
                  {% if res.id == data.id %}{% set ns.selected = 'selected' %}{% else %}{% set ns.selected = '' %}
                    {% endif %} 
                  {% if draft %}
                    <option id="{{ res.id }}" {{ ns.selected }} value="{{ url_for('package.resource_edit_draft', id=pkg.name, resource_id=res.id) }}">{% if res.name %}{{ h.get_translated(res, 'name') }}{% else %}{{ _('Unnamed resource') }}{% endif %}</option>
                  {% else %}
                    <option id="{{ res.id }}" {{ ns.selected }} value="{{ url_for('package.resource_edit', id=pkg.name, resource_id=res.id) }}">{% if res.name %}{{ h.get_translated(res, 'name') }}{% else %}{{ _('Unnamed resource') }}{% endif %}</option>
                  {% endif %}
              {% endfor %}
              </select>
              {% for res in other_resources %}
                {% set endpoint = 'package.resource_delete' if dataset_type == 'dataset' else dataset_type ~ '_resource.delete' %}
                <input type="hidden" value="{% url_for endpoint, resource_id=res.id, id=pkg.name %}" id="delete-{{ res.id }}" />
              {% endfor %}
            </form>
            <p class="asignate-resources"><strong>{{ other_resources|length }}</strong>  {{ _("Distributions asigned for the current Dataset") }}</p>
                  {% if h.check_access('package_update', {'id': pkg.id }) %}
                  <div class="select-distribution-actions">
                      <a class="edit-distribution-link btn-grey-lite" href="#" data-toggle="tooltip" title="{{ _('Edit') }}"><i class="fa fa-pencil-square-o"></i>{# {{ _('Edit') }} #}</a>
                      <a class="delete-distribution-link btn-grey-lite" href="#" data-toggle="tooltip" title="{{ _('Delete') }}"> <i class="fa fa-trash-o"></i>{# {{ _('Delete') }} #}</a>
                  </div>
                  {% endif %}
        </div>
      {% endif %} {% endif %}
      
      {% if ns.new_distribution %}
      <div class="new-dist-block-1"> 
        <p class="center-p">{{ _("Click 'New Distribution' to assign Distributions to the Data Set") }}</p>
        <button class="btn btn-primary btn-save-resource" id="new-distribution-button" name="save" value="new-distribution" type="button">{{ _('+ New Distribution') }}</button>
      </div><br/>
      {% else %}
        {% if data.id %} {# Remove New Distribucion option in edit form
        <div class="new-dist-block-2">              
          <p class="center-p">{{ _("Click 'New Distribution' to assign Distributions to the Data Set") }}</p>
          <a class="btn btn-primary btn-save-resource" id="new-distribution-button" href="{{ url_for(pkg.type ~ '_resource.new', id=pkg.name) }}" >{{ _('+ New Distribution') }}</a>
        </div><br/> #}
        {% endif %}
      {% endif %}

    {% endblock %}

  <form id="resource-edit" {% if ns.new_distribution %}{% if not errors %}style="display:none"{% endif %}{% endif %} class="dataset-form dataset-resource-form" method="post" action="{{ action }}" data-module="basic-form resource-form" enctype="multipart/form-data">

    <div class="resoruce-edit-form-tit">
      {% if data.id %}{% if draft %}
          <h3>{{ _('Edit Distribution') }}: {% if data.name %}{{ data.name }}{% else %}{{ _('Unnamed resource') }}{% endif %}</h3>{% endif %}
      {% else %}
          <h3>{{ _('New Distribution') }}</h3>
      {% endif %}

    </div>
    
    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    <input name="id" value="{{ data.id }}" type="hidden" id="package_resource_id" />

    {% block basic_fields %}
      {% block basic_fields_url %}
        {% set is_upload = (data.url_type == 'upload') %}
        {{ form.image_upload(data, errors, field_url='url', field_upload='upload', field_clear='clear_upload',
          is_upload_enabled=h.uploads_enabled(), is_url=data.url and not is_upload, is_upload=is_upload,
          upload_label=_('Data'), url_label=_('URL'), placeholder=_('http://example.com/external-data.csv'), field_name='name') }}
      {% endblock %}

      {% block basic_fields_name %}
        {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('eg. January 2011 Gold Prices'), value=data.name, error=errors.name, classes=['control-full']) }}
      {% endblock %}

      {% block basic_fields_description %}
        {{ form.markdown('description', id='field-description', label=_('Description'), placeholder=_('Some useful notes about the data'), value=data.description, error=errors.description) }}
      {% endblock %}

      {% block basic_fields_format %}
        {% set format_attrs = {'data-module': 'autocomplete', 'data-module-source': '/api/2/util/resource/format_autocomplete?incomplete=?'} %}
        {% call form.input('format', id='field-format', label=_('Format'), placeholder=_('eg. CSV, XML or JSON'), value=data.format, error=errors.format, classes=['control-medium'], attrs=format_attrs) %}
          <span class="info-block info-block-small">
            <i class="fa fa-info-circle"></i>
            {{ _('This will be guessed automatically. Leave blank if you wish') }}
          </span>
        {% endcall %}
      {% endblock %}
    {% endblock basic_fields %}

    {% block metadata_fields %}
      {% if include_metadata %}


        {{ form.input('last_modified', id='field-last-modified', label=_('Last Modified'), placeholder=_('eg. 2012-06-05'), value=data.last_modified, error=errors.last_modified, classes=[]) }}

        {{ form.input('size', id='field-size', label=_('File Size'), placeholder=_('eg. 1024'), value=data.size, error=errors.size, classes=[]) }}

        {{ form.input('mimetype', id='field-mimetype', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype, error=errors.mimetype, classes=[]) }}

        {{ form.input('mimetype_inner', id='field-mimetype-inner', label=_('MIME Type'), placeholder=_('eg. application/json'), value=data.mimetype_inner, error=errors.mimetype_inner, classes=[]) }}
      {% endif %}
    {% endblock %}

    <div class="form-actions">
      {% block delete_button %}
        {% if data.id %}
          {% if h.check_access('resource_delete', {'id': data.id})  %}
          {% set endpoint = 'package.resource_delete' if dataset_type == 'dataset' else dataset_type ~ '_resource.delete' %}
           <a class="btn btn-danger btn--secondary pull-left" href="{% url_for endpoint, resource_id=data.id, id=pkg.name %}" id="delete-{{ data.id }}">{{ _('Delete') }}</a>
          {% endif %}
        {% endif %}
      {% endblock %}

      {# {% if stage %}
        {% block previous_button %}
          {% set endpoint = 'package.dataset_edit' if dataset_type == 'dataset' else dataset_type ~ '.edit' %}
          {% link_for _('Previous'), named_route=endpoint, id=pkg_name, class_='btn btn-secondary' %}
        {% endblock %}
      {% endif %} #}

      {% if stage %}
        {% block save_button %}
          {% set class_finish_button = '' %}
          {% if stage and (stage is iterable and 'complete' in stage) or (stage is string and stage == 'complete') %}
            {% set class_finish_button = '  btn-save-resource'%}
          {% block again_button %}
            <button class="btn btn-secondary" name="save" value="again" type="submit">{{ _('Save & add another') }}</button>
          {% endblock %}
          {% endif %}
          <button class="btn btn-primary{{class_finish_button}}" name="save" value="go-metadata" type="submit">{% block save_button_text %}{{ _('Finish') }}{% endblock %}{{form_style}}</button>
        {% endblock %}
      {% else %}
        {% block add_button %}
          <button class="btn btn-primary" name="save" value="go-dataset-complete" type="submit">{{ _('Add') }}</button>
        {% endblock %}
      {% endif %}
    </div>
  </form>
 
  
  <div class="important-dist">
    <p><strong>{{ _('¡IMPORTANT!') }}</strong></p>
    <P>{{ _('It is necessary to add at least one distribution to complete the creation of a dataset') }}</P>
  </div>
</div>
 </div>