{% ckan_extends %}

{% block footer_content %}
{% set current_lang = request.environ.CKAN_LANG %}
{% set user_logged = c.userobj %}
{% set drupal_menu_endpoints = h.dge_get_endpoints_menu([], current_lang, False, True) %}
{% asset 'dge/dge-footer-css' %}
<footer>
    <div class="region region-footer-top">
        <div id="block-dge-theme-footertop"
            class="block block-block-content block-block-content">

            <div class="footer-top__container">
                <div class="footer-top__container__left">

                    <div
                        class="field field--name-field-imagen field--type-entity-reference field--label-hidden field__item">
                        <article class="media media--type-image media--view-mode-default">

                            <div
                                class="field field--name-field-media-image field--type-image field--label-hidden field__item">
                                <img src="{{ h.url_for_static('/sites/default/files/2024-03/newsletter-datosgob-women-working_1.svg') }}"
                                    alt="Chica trabajando con tecnologia">

                            </div>

                        </article>
                    </div>

                </div>
                <div class="footer-top__container__right">

                    <div class="mb-2 h2 text--color-white">

                        <div class="field field--name-field-title field--type-string field--label-hidden field__item">
                            <h3>{{ _('Do you want to stay up to date with the data economy') }}</h3>
                            <div class="decoration-line"></div>
                        </div>

                    </div>

                    <div class="subtitle text--color-white">

                        <div
                            class="clearfix text-formatted field field--name-body field--type-text-with-summary field--label-hidden field__item">
                            <p class="text--color-white">{{ _('Subscribe to our newsletter to receive the latest news from datos.gob') }}</p>
                        </div>

                    </div>

                    <div class="mt-auto mb-auto">

                        <div
                            class="field field--name-field-button-secondary field--type-link field--label-visually_hidden">

                            <div class="btn-link--secondary">
                                <div class="field__item">
                                    <a href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.subscribe'] }}" title=" {{ _('Subscription by e-mail to the latest news from datos.gob.es.')}}">{{
                                        _('Subscribe') }}
                                        <span class="decoration-arrow"><img
                                                src="{{ h.url_for_static('/themes/custom/dge_theme/images/icons/decoration-arrow.svg') }}"
                                                alt="Decoration arrow icon"></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                        <div class="mt-3">

                            <div
                                class="field field--name-field-link-secondary field--type-link field--label-visually_hidden">

                                <div class="link link--secondary text--color-white">
                                    <div class="field__item">
                                        <a href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.unsubscribe'] }}" title="{{ _('Unsubscribe from the data.gob.es bulletin')}}">{{
                                            _('Unsubscribe') }}
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="footer-decoration-arrow">
                        <span><img src="{{ h.url_for_static('/themes/custom/dge_theme/images/icons/footer-decoration-arrow.svg') }}"
                                alt="Footer menu decoration arrow icon"></span>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="footer-info">
        <div class="footer-info__container">
            <div class="region region-footer-left">
                <nav role="navigation" aria-labelledby="block-dge-theme-piedepagina"
                    id="block-dge-theme-piedepagina" class="block block-menu navigation menu--footer">

                    <ul class="menu">
                        <li class="menu-item menu-item--expanded">
                            <span class="menu-item__title">{{ _('Contacta con nosotros EN') }}</span>
                            <ul class="menu">
                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.form.contact'] %}
                                <li class="menu-item">
                                    <span class="menu-icon info-icon">
                                        <a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.form.contact'] }}">{{
                                        _('Contact') }}</a>
                                    </span>
                                </li>
                                {% endif %}
                            </ul>

                        </li>
                        <li class="menu-item menu-item--expanded">
                            <span class="menu-item__title menu-item__dots">{{ _('Información de interés EN') }}</span>
                            <ul class="menu">


                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.frequently_asked_questions'] %}
                                <li class="menu-item"><a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.frequently_asked_questions'] }}">{{
                                        _('FAQs') }}</a></li>
                                {% endif %}

                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.legal_notice'] %}
                                <li class="menu-item"><a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.legal_notice'] }}">{{
                                        _('Legal notice') }}</a></li>
                                {% endif %}

                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.sitemap'] %}
                                <li class="menu-item"><a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.sitemap'] }}">{{
                                        _('Sitemap') }}</a></li>
                                {% endif %}

                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.accesibility'] %}
                                <li class="menu-item"><a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.accesibility'] }}">{{
                                        _('Accessibility') }}</a></li>
                                {% endif %}

                                {% if drupal_menu_endpoints['ckanext.dge.drupal_menu.cookies_policy'] %}
                                <li class="menu-item"><a
                                        href="{{ drupal_menu_endpoints['ckanext.dge.drupal_menu.cookies_policy'] }}">{{
                                        _('Cookies policy') }}</a></li>
                                {% endif %}
                            </ul>

                        </li>
                    </ul>

                </nav>

                <div class="certificaciones field__items">
                    <div class="field__item">
                        <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                            <a href="{{ config.get('ckanext.dge.certified.url.ENS') }} "target="_blank" rel="noopener noreferrer">

                                <img  height="40" width="40" src="{{ h.url_for_static(config.get('ckanext.dge.certified.image.ENS')) }}"
                                    alt="{{ _('Certificado de conformidad con el Esquema Nacional de Seguridad') }}"
                                    title="{{ _('Certificado de conformidad con el Esquema Nacional de Seguridad') }}">
                            </a>                   
                        </div>
                    </div>
                    <div class="field__item">
                        <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                            <a href="{{ h.url_for_static('/es/iqnet') }} "target="_blank" rel="noopener noreferrer">

                                <img height="40" width="40" src="{{ h.url_for_static(config.get('ckanext.dge.certified.image.IQNet')) }}"
                                    alt="{{ _('Certificado IQNet') }}"
                                    title="{{ _('Certificado IQNet') }}">
                            </a>
                        </div>
                    </div>
                    <div class="field__item">
                        <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                            <a href="{{ config.get('ckanext.dge.certified.url.9001') }} "target="_blank" rel="noopener noreferrer">

                                <img height="40" width="40" src="{{ h.url_for_static(config.get('ckanext.dge.certified.image.9001')) }}"
                                    alt="{{ _('Certificado de calidad ISO-9001:2015') }}"
                                    title="{{ _('Certificado de calidad ISO-9001:2015') }}">
                            </a>
                        </div>
                    </div>
                    <div class="field__item">
                        <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                            <a href="{{ config.get('ckanext.dge.certified.url.27001') }} "target="_blank" rel="noopener noreferrer">

                                <img  height="40" width="40" src="{{  h.url_for_static(config.get('ckanext.dge.certified.image.27001')) }}"
                                    alt="{{ _('Certificado de calidad UNE-ISO/IEC 27001:2014') }}"
                                    title="{{ _('Certificado de calidad UNE-ISO/IEC 27001:2014') }}">
                            </a>
                        </div>
                    </div>
                    <div class="field__item">
                        <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                            <a href="{{ config.get('ckanext.dge.certified.url.selloiaresponsable') }} "target="_blank" rel="noopener noreferrer">

                                <img  height="40" width="40" src="{{ h.url_for_static(config.get('ckanext.dge.certified.image.selloiaresponsable')) }}"
                                    alt="{{ _('Compromiso con la IA responsable') }}"
                                    title="{{ _('Compromiso con la IA responsable') }}">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="region region-footer-right">
                <div id="block-dge-theme-footersocial"
                    class="block block-block-content block-block-content">

                    <div
                        class="field field--name-field-iconos-sociales field--type-entity-reference-revisions field--label-above">
                        <div class="field__items">
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://www.linkedin.com/company/datos-gob-es/" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-08/li_rrss.svg') }}"
                                        title ="{{ _('Follow us on LinkedIn') }}. {{ _('Opens a new window') }}"    
                                        alt="{{ _('Follow us on LinkedIn') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://x.com/datosgob" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-03/X_rrss.svg') }}"
                                        title="{{ _('Follow us on X') }}. {{ _('Opens a new window') }}"    
                                        alt="{{ _('Follow us on X') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://www.instagram.com/datosgob/" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-03/ig_rrss.svg') }}"
                                            title="{{ _('Follow us on Instagram') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on Instagram') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://www.youtube.com/user/datosgob" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-03/yt_rrss.svg') }}"
                                        title="{{ _('Follow us on YouTube') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on YouTube') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://open.spotify.com/show/32fn8GQ7rDQ9LDNgWsApPt" target="_blank" rel="noopener noreferrer">
                                        <img src="{{ h.url_for_static('/sites/default/files/2025-10/spotify_rrss.svg') }}"
                                        title="{{ _('Follow us on Spotify') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on Spotify') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://es.slideshare.net/datosgob" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-08/slideshare_rrss.svg') }}"
                                            title="{{ _('Follow us on SlideShare') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on SlideShare') }}. {{ _('Opens a new window') }}"
                                            width="45" height="45">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://www.flickr.com/photos/datosgob/" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-08/flkr_rrss.svg') }}"
                                        title="{{ _('Follow us on Flickr') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on Flickr') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                            <div class="field__item">
                                <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                    <a href="https://github.com/datosgobes" target="_blank" rel="noopener noreferrer">

                                        <img src="{{ h.url_for_static('/sites/default/files/2024-08/github_rrss.svg') }}"
                                        title="{{ _('Follow us on GitHub') }}. {{ _('Opens a new window') }}"
                                            alt="{{ _('Follow us on GitHub') }}. {{ _('Opens a new window') }}">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <div class="footer-colaborators">
        <div class="region region-footer">
            <div id="block-dge-theme-footerbottom"
                class="block block-block-content block-block-content">

                <div
                    class="field field--name-field-logos-colaboradores field--type-entity-reference-revisions field--label-above">
                    <div class="field__items">



                        <div class="field__item">
                            <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                <a href="https://digital.gob.es/index.html" target="_blank" rel="noopener noreferrer">

                                    <img src="{{ h.url_for_static('/sites/default/files/2025-03/logo_ministerio_transformacion_digital.jpg') }}"
                                        title="{{ _('Ministry for Digital Transformation and Public Service') }}" alt="{{ _('Ministry for Digital Transformation and Public Service') }}">
                                </a>
                            </div>
                        </div>

                        <div class="field__item">
                            <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">
                                <a href="https://www.red.es/es" target="_blank" rel="noopener noreferrer">

                                    <img src="{{ h.url_for_static('/sites/default/files/2025-03/logo_red-es.svg') }}"
                                        title="Red.es" alt="Red.es">
                                </a>
                            </div>
                        </div>

                        <div class="field__item">
                            <div class="paragraph paragraph--type--imagen-enlace paragraph--view-mode--default">

                               
                                {% set config_key = 'ckanext.dge.drupal_menu_header_' + current_lang + '.what_we_do' %}
                                {% set route_without_lang = config.get(config_key, '/que-hacemos') %}
                                {% set full_route = '/' + current_lang + route_without_lang %}

                                <a href="{{ h.url_for_static(full_route) }}">


                                    <img src="{{ h.url_for_static('/sites/default/files/2024-03/logo-iniciativa-aporta_positivo.svg') }}"
                                        title="Iniciativa Aporta" alt="Iniciativa Aporta">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
  
    {% block footer_banner_cookies %}
        {% set current_lang = request.environ.CKAN_LANG %}
        {% set drupal_menu_endpoints = h.dge_get_endpoints_menu([], current_lang, False, True) %}

        {{ h.snippet('snippets/dge_banner_cookies.html', drupal_menu_endpoints=drupal_menu_endpoints) }}
    {% endblock %} 
    
</footer>

{% endblock %}

{% block footer_debug %}
{% if g.debug %}
<div class="container" with="100%">
    <div class="debug">Controller : {{ c.controller }}<br />Action : {{ c.action }}</div>
</div>
{% endif %}
{{ super() }}
{% endblock %}