{% ckan_extends %}

{% block action_links %}
  {% set show_li = h.ckan_version().startswith('2.0') %}
  {% if harvest_source.status and harvest_source.status.last_job and (harvest_source.status.last_job.status == 'New' or harvest_source.status.last_job.status == 'Running') %}
    {{ '<li>' if show_li }}<a class="btn btn--tertiary disabled mr-4 mb-0" rel="tooltip" title="{{ _('There already is an unrun job for this source') }}"><i class="icon-refresh fa fa-refresh"></i> {{ _('Reharvest') }}</a>{{ '</li>' if show_li }}
  {% else %}
    {% set locale = h.dump_json({'content': _('This will re-run the harvesting for this source. Any updates at the source will overwrite the local datasets. Sources with a large number of datasets may take a significant amount of time to finish harvesting. Please confirm you would like us to start reharvesting.')}) %}
    {{ '<li>' if show_li }}
      <a href="{{ h.url_for('harvester.refresh', id=harvest_source.id) }}" class="btn btn--tertiary mr-4 mb-0" data-module="confirm-action" data-module-i18n="{{ locale }}"
         title="{{ _('Start a new harvesting job for this harvest source now') }}">
        <i class="icon-refresh fa fa-refresh"></i>
        {{ _('Reharvest') }}
      </a>
    {{ '</li>' if show_li }}
  {% endif %}
    {% set locale = h.dump_json({'content': _('Confirmation of this will delete all federated datasets in federation tasks carried out. Do this if you wish to delete the federated datasets and federate the federation source again. Are you sure you want to delete this federation source and all federated datasets?')}) %}
    {{ '<li>' if show_li }}{{ h.nav_link(_('View harvest source'), named_route='{0}_read'.format(c.dataset_type), id=harvest_source.name, class_='btn btn--tertiary mr-4 mb-0', icon='eye-open fa fa-eye')}}{{ '</li>' if show_li }}
    {{ '<li>' if show_li }}
      <a href="{{ h.url_for('harvester.clear', id=harvest_source.id) }}" class="btn btn--secondary mr-4 mb-0" data-module="confirm-action" data-module-i18n="{{ locale }}"
         title="{{ _('Delete the federation tasks and related datasets') }}">
         <img src="/images/trash-can.svg" alt="remove icon">
        {{ _('Delete datasets') }}
      </a>
    {{ '</li>' if show_li }}
{% endblock %}

